<!-- This is the partial to handle our wiki form used in both our create and edit wiki pages -->
<div class="row">
  <div class="col-md-8">
    <%= form_for wiki do |w| %>
      <div class="form-group">
        <%= w.label :"Title (No Markdown)" %>
        <%= w.text_field :title, class: 'form-control', placeholder: "Enter Wiki Title (Minimum 5 Characters)" %>
      </div>

      <div class="form-group">
        <%= w.label :"Body (Now Supporting Markdown!!)" %>
        <%= w.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter Wiki Body (Minimum 20 Characters)" %>
      </div>

      <div>
        <%if ( (type == "new") && ( current_user.premium? || current_user.admin? ) ) ||
             ( (type == "edit") && ( current_user.premium? ) && (wiki.creator_id == current_user.id) ) ||
             ( (type == "edit") && current_user.admin?) %>
          <%= w.label :private do %>
            <%= w.check_box :private %> Private Wiki?
          <% end %>
        <% end %>
      </div>

      <div class="form-group">
        <%= w.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
     <p>Guidelines for Wiki</p>
     <ul>
        <li>Information will be checked. Please keep to facts.</li>
        <li>Cite your sources.</li>
        <li>Purposely misleading information is subject to user ban</li>
     </ul>
  </div>
</div>
