<%= render partial: 'collaborator_list', locals: {collaborators: @collaborators} %>

<%= form_for :collaborator, method: "get" do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, :size=>50 %>
  <%= f.submit "Add User", class: "btn btn-success" %>
  <%= f.submit "Remove User", class: "btn btn-danger" %>
<% end %>

<div class="return_to_wiki_link">
  <%= link_to "Return to Wiki", :back %>
</div>
