<h1><%= @wiki.title %></h1>

<div class="row">
  <div class="col-md-11">
    <%= link_to "Return to Index", wikis_path %>

    <p><br /><%= markdown(@wiki.body) %></p>

    <p> Wiki Created by: <%= @wiki.creator.name %>

    <%= render partial: 'collaborator_list', locals: {collaborators: @wiki.collaborators} %>


  </div>
  <div class="col-md-1">
    <%= render partial: 'edit_button', locals: { wiki: @wiki } %>
    <p></p>
    <%= render partial: 'delete_button', locals: { wiki: @wiki } %>
  </div>
</div>
