<!DOCTYPE html>
<html>
  <head>
    <title>Blocipedia</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-10">
          <!--To be cleaned up so they don't disrupt flow of page (bootstrap modal maybe) -->
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>

        <div class="col-1 gem_display">
          <% if user_signed_in? %>
            <!--To be replaced with a helper to determine which gem to show and link to profile-->
            <div class="diamond_icon">
              <%= image_tag("black-diamond.png", :size => "24x20") %>
            </div>
          <% end %>
        </div>

        <div class="col-1 profile-link">
          <% if user_signed_in? %>
            <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
            <% end %>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
